header[role="banner"]{
  position: absolute;
  width: 100%;
  z-index: 2;

  .cta[data-action="locate"] {
    display: flex;
    margin: rem( 32 ) auto;
  }
}

#map {
  width: 100vw;
  height: 100vh;
}

.search {
  position: relative;
  z-index: 0;
}